.app-jump {
    background: url("../../../assets/img/jump.jpg");
    background-repeat: no-repeat;
    background-position: center -400px;
    height: 350px;
}

.titulo-jump {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 12px solid #ed1b2e;
    color: white;
    margin-top: 212px;
}

.titulo-jump h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 34px;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
}

.contenedor {
    margin-left: 50px;
    margin-right: 50px;
}

.app-hr {
    border-top: 1px solid #267b41;
    margin-top: 0px;
    margin-right: 550px;
}

.app-hr-complete {
    border-top: 1px solid #267b41;
}

.contenedor p {
    margin: 0 0;
    padding: 0 0;
}

h3 {
    font-size: 1.8rem;
}

.busqueda {
    border-radius: 6px;
    border: 1px solid #8080804d;
    background-color: rgba(237, 236, 236, 0.1);
    padding: 20px;
}

.app-col {
    transition: all .3s ease;
}

.app-col:hover {
    transform: scale(1.06);
}

.app-plantilla {
    padding-bottom: 25px;
    background-image: -moz-radial-gradient(top left, rgba(237, 236, 236, 0.5) 15%, white 35%, rgba(237, 236, 236, 0.5));
}

.app-fond {
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #80808066;
    background-color: rgba(237, 236, 236, 0.5);
}