<div class="container-fluid demo banner">
    <div class="contenedor">
        <div class="app-titulo">
            <h3>Escuela de Iniciación y Formación Deportiva</h3>
            <hr class="app-hr">
            <p><i class="fas fa-map-marked-alt"></i> División territorial: <small>Localidad 1</small></p>
            <p><i class="fas fa-map-marker-alt"></i> Barrio: <small>La maria</small></p>
        </div>
        <br>

        <h3><b>Deportistas del núcleo</b></h3>
        <hr class="app-hr">
        <div class="row">
            <div class="col-7 app-busqueda">
                <form class="pt-2 busqueda">
                    <small class="text-muted">Componente de busqueda de niños deportistas Cartageneros entre 6 y 12 años de edad</small>
                    <br>
                    <br>
                    <div class="app-fond">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInput">Nombres</label>
                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nombres">
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Apellidos</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Apellidos">
                                </div>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInput">Desde año nac.</label>
                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Desde año nac.">
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Hasta año nac.</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Hasta año nac.">
                                </div>
                            </div>


                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-success mb-2 mr-1">Buscar</button>
                                <button type="submit" class="btn btn-primary mb-2">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<div class="app-plantilla">

    <div class="container pt-3">
        <h3>Integrantes de la escuela de formación</h3>
        <hr class="app-hr-complete">
        <br>
        <div class="card-columns">
            <div class="card app-col" *ngFor="let jugador of jugadores">
                <img class="card-img-top img-fluid" [src]="'assets/img/'+jugador.foto" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i class="fas fa-user"></i> <b> Nombre: </b> {{jugador.Nombre}}</p>
                    <p class="card-text"><b> <i class="fas fa-birthday-cake"></i> Fecha nacimiento: </b> {{jugador.nacimiento}} ( {{jugador.Edad}} años)</p>
                    <button class="btn btn-outline-success btn-block">Ver mas</button>
                </div>
            </div>
        </div>
    </div>

</div>