<div class="container pt-4 pb-5">



    <table class="table">
        <thead style="background-color: rgba(0, 0, 0, 0.8); color: white;">
            <tr>
                <th scope="col">Mes</th>
                <th scope="col">Asiste</th>
                <th scope="col">No justificada</th>
                <th scope="col">Justificada</th>
                <th scope="col">Retraso</th>
                <th scope="col">Permiso</th>
                <th scope="col">Retraso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Enero</th>
                <td>12</td>
                <td>1</td>
                <td>0</td>
                <td>4</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <th>Febrero</th>
                <td>7</td>
                <td>1</td>
                <td>0</td>
                <td>4</td>
                <td>5</td>
                <td>2</td>
            </tr>
            <tr>
                <th>Marzo</th>
                <td>16</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <th>Abril</th>
                <td>16</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <th>Mayo</th>
                <td>16</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

</div>