<div class="container pt-5">
    <div class="row">
        <div class="col-6">
            <h4 class="text-center">Test motricidad</h4>
            <hr>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="col-6">
            <h4 class="text-center">Test elasticidad</h4>
            <hr>
            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="background-color: rgba(0, 0, 0, 0.8); color: white;">
                    Observaciones/Características
                </div>
                <div class="card-body app-cont-datos">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size: 15px;">Debe pasar la revisión médica.</p>

                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="background-color: rgba(0, 0, 0, 0.8); color: white;">
                    Otros Datos
                </div>
                <div class="card-body app-cont-datos">
                    <blockquote class="blockquote mb-0">
                        <div style="font-size: 15px;">
                            <p><strong>Dorsal Asignado:</strong> 17</p>
                            <p><strong>Representante:</strong> Desconocido o sin representanteDesconocido o sin representante</p>
                            <p><strong>Tarjeta Sanitaria:</strong> 204990</p>
                            <p><strong>Vto.Revisión:</strong> 02/04/2018</p>
                            <p><strong>Grupo Sanguíneo:</strong> RH+</p>
                            <p><strong>Continúa prox.año:</strong> Si</p>

                        </div>

                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>