.contenido {
    margin-top: 70px;
}

.app-fondo {
    background: url("../../../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.app-img {
    max-width: 626px !important;
    height: 375px !important;
    margin: 10px 0px 0px -215px;
    padding: 0px 0px;
}

.app-info {
    color: white;
    font-size: 20px;
}

div.col-8 h2 {
    font-size: 42px;
    color: #fff;
    border-bottom: solid 1px #fff;
    margin: 10px 0;
    padding-bottom: 10px;
    font-weight: 400;
    position: relative;
    line-height: 72px;
}

.app-contenedor {
    margin-top: -50px;
}

.app-cont-nav {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.app-nav {
    color: white;
    margin-top: -33px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 6px solid #ed1b2e;
}

div.navbar-nav a {
    color: white;
    text-decoration: none;
    padding: 15px 40px;
}

div.navbar-nav a:hover {
    background-color: rgba(12, 12, 12, 0.35);
}

.app-cont-datos {
    height: 270px;
}