<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #282b2fe6; color: white;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mt-md-0 mt-3">

                <!-- Content -->
                <img class="borde-img" src="https://www.ider.gov.co/images/ider-cartagena-wh.png" alt="" width="120">

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <div class="letra">
                    <h6> <b>IDER - Instituto Distrital de Deporte y Recreación.</b></h6>
                    <p><b>Nit.800.232.726-6 </b></p>
                </div>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Links -->
                <div class="letra">
                    <p><b>Cartagena de Indias, Colombia - Pie de la Popa, Cra.30 No.18A-253.</b></p>
                    <p><b>Lunes a Jueves 08:00Am a 12:00Pm y 02:00Pm a 06:00Pm Viernes 08:00Am a 12:00Pm y 02:00Pm a 05:00Pm</b></p>
                    <p><b>Tel: 6567702 - 6567677. - Fax: 6567708 / 6567709.</b></p>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark letra">
        <p><b>IDER Cartagena 2018 © Todos los Derechos Reservados</b></p>

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->